/GamesLabUnity/Library/CurrentLayout.dwlt
/GamesLabUnity/Library/LastSceneManagerSetup.txt
/GamesLabUnity/Library/ScriptAssemblies/Assembly-CSharp-Editor.dll.mdb
/GamesLabUnity/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
/GamesLabUnity/Library/ScriptAssemblies/Unity.PackageManagerUI.Editor.dll.mdb
/GamesLabUnity/Library/ScriptAssemblies/UnityEditor.StandardEvents.dll.mdb
/GamesLabUnity/Library/ShaderIncludePaths
/GamesLabUnity/Library/assetDatabase3
/GamesLabUnity/Library/shadercompiler-UnityShaderCompiler.exe0.log
